/*hice las modificaciones en lo que estaba en agency.css */
/*lo que cambié está a continuación*/

.text-primary {
  color: #36c7fe;
}

a {
  color: #36c7fe;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #36c7fe;
}

.bg-light-gray {
  background-color: #abe8ff;
}

.btn-primary {
  color: white;
  background-color: #36c7fe;
  border-color: #36c7fe;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #01a6e4;
  border-color: #01a6e4;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #36c7fe;
  border-color: #36c7fe;
}
.btn-primary .badge {
  color: #36c7fe;
  background-color: white;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #01a6e4;
  border-color: #0198d1;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #36c7fe;
  border-color: #36c7fe;
}
.btn-xl .badge {
  color: #36c7fe;
  background-color: white;
}

.navbar-custom .navbar-brand {
  color: #36c7fe;
  font-family: "Bree Serif", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #36e8fe;
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #36c7fe;
  border-color: #36c7fe;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #36c7fe;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #36c7fe;
  outline: none;
}

.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #36c7fe;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #36e8fe;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(105,213,254, 0.9);
}
